* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box; 
}

html, body  { 
	height: 100%;
	width: 100%;
	margin: 0 auto;
	color:white;
	font-family: 'Lato', sans-serif;
}

body {
  	line-height: 1.4;
  	background-image: url("images/back2.jpeg");
  	background-size: auto;
  	background-repeat: repeat;
  	background-attachment: fixed;
}
h2{
	text-align: center;
	word-spacing: 0.2em;
	letter-spacing: 0.05em;
	margin: 35px 0px;
	padding: 10px;
  	border-bottom: 4px solid black;
  	color: #373737;
  	background: rgba(255,255,255,0.8);
}

table{
	padding:0px 10px 10px 10px;
  	border:3px solid #373737;
  	background: rgba(0,0,0,0.8);
	border-right: 3px solid #000000;
	box-shadow: 4px 4px 27px #151515;
	border-bottom: 3px solid black;
}

#bookImage{
	width: 350px;
	height: 500px;
	float: left;
	margin: 0% 10% 5% 20%;
	transition: all .5s ease-in-out;
	border:3px solid #373737;
}

#bookImage:hover{
	cursor: zoom-in;
	-webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

a{
	color: white;
	text-decoration: none;
}

a:hover{
	color:black;
}

td{
	line-height: 3em;
	font-size: 1.1em;
	border-bottom: 2px solid white;
	font-weight: bold;
}

#descBlock{
	width: 64.5%;
	height: 550px;
	overflow-y: scroll;
	overflow-x: hidden;
	margin: 10% 0% 3% 20%;
	text-align: center;
	clear: both;
	padding: 0px 15px;
	border:3px solid #373737;
  	background: rgba(0,0,0,0.8);
	border-right: 3px solid #000000;
	box-shadow: 4px 4px 27px #151515;
	border-bottom: 3px solid black;
}

.navli{
	display: inline-block;
	margin: 3% 8%;
	border: 2px solid white;
}

button{
	width: 100%;
	border: none;
	font-weight: bold;
	font-size: 1.2em;
	text-align: justify;
	padding: 5px;
	background: none;
	color:white;
}

button:hover{
	background-image: linear-gradient(to bottom, #115782, #0c98f5);
	cursor: pointer;
}

p{
	line-height: 1.5em;
	text-align: justify;
	font-weight: 600;
}

html {
}

.section-form {
	color:black;
	width: 37em;
	margin: 0 auto;
	background-color: $colorBase1;
	padding: 2em; 
}

input[type=text],select,input[type=email]{
	height: 40px; 
}

input[type=text],input[type=email],textarea,select{
	width: 100%;
	margin-bottom: 1em;
	font-size: .9em;
	font-weight: 300;
	padding: .5em 1em;
	border: none;
	color: white;
	font-weight: bold;
	background: rgba(255,255,255,0.01);
}

input[type=submit],button[type=reset] {
	border:2px solid white;
	cursor: pointer;
	margin: 0;
	padding: .5em 2em;
	background: none;
	color: #fff;
	font-size: 1em;
	font-weight: 600;
}

button[type=reset]{
	width: 20%;
	margin-left: 5%;
}

button[type=reset]:hover{
	background-image: linear-gradient(to bottom, #115782, #0c98f5);
}

input[type=submit]:hover{
	background-image: linear-gradient(to bottom, #115782, #0c98f5);
}

input[tabindex="1"],input[tabindex="2"],textarea[tabindex="3"],select{
	border: 2px solid white;
}

select{
	color: grey;	
}

option{
	font-weight: bold;
}

blockquote{
	color:white;
	text-align: left;
	margin: -10% 0 0;
}

.ng-invalid.ng-dirty {
	border-color: #FA787E;
}

.ng-valid.ng-dirty {
	border-color: #78FA89;
}

#editBut{
	position: fixed;
	right: 5%;
  	bottom: 0%;
}

#backBut{
	position: fixed;
	left: 5%;
  	bottom: 0%;
}

#deleteBut{
	visibility: hidden;
	margin-left: 2%;
}

#saveBut{
	visibility: hidden;
	margin:0% 2% 0% 20%;
}

#cancelBut{
	visibility: hidden;

}

input[type=button]{
	background: #119bf7;
	background-image: -webkit-linear-gradient(top, #119bf7, #175175);
	background-image: -moz-linear-gradient(top, #119bf7, #175175);
	background-image: -ms-linear-gradient(top, #119bf7, #175175);
	background-image: -o-linear-gradient(top, #119bf7, #175175);
	background-image: linear-gradient(to bottom,  #373737, #000000);
	-webkit-border-radius: 21;
	-moz-border-radius: 21;
	border-radius: 21px;
	font-family: Arial;
	color: #ffffff;
	font-size: 18px;
	padding: 10px 20px 10px 20px;
	border: solid #ffffff 3px;
	text-decoration: none;
	margin-bottom: 5%;
	outline: none;
	transition: all .3s ease-in-out;
}

input[type=button]:hover {
	background: #115782;
	background-image: -webkit-linear-gradient(top, #115782, #0c98f5);
	background-image: -moz-linear-gradient(top, #115782, #0c98f5);
	background-image: -ms-linear-gradient(top, #115782, #0c98f5);
	background-image: -o-linear-gradient(top, #115782, #0c98f5);
	background-image: linear-gradient(to bottom, #115782, #0c98f5);
	text-decoration: none;
	cursor: pointer;
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

pre{
	color:white;
}