* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box; 
}

html, body  { 
	height: 100%;
	width: 100%;
	margin: 0 auto;
	color:white;
	font-family: 'Source Serif Pro', serif;
}

body {
  line-height: 1.4;
  background-image: url("images/cov.png");
  background-size: auto;
}
h2{
	text-align: center;
	margin: 45px 0px;
}

#bookImage{
	width: 350px;
	height: 500px;
	float: left;
	margin: 0% 10% 5% 20%;
	transition: all .5s ease-in-out;
}

#bookImage:hover{
	cursor: zoom-in;
	-webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

a{
	color: white;
}

td{
	line-height: 3em;
	font-size: 1.1em;
}