 * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

html, body  { 
	height: 100%;
	width: 100%;
	margin: 0 auto;
  font-family: 'Domine', serif;
  color: white;
}

body {
  line-height: 1.4;
  background-image: url("images/back.jpeg");
  background-size: auto;
  background-repeat: repeat;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  padding: 15px;
  border-bottom: 3px solid;
  color: #373737;
  background: rgba(255,255,255,0.7);
}

.paddingBlock>p{
  text-align:center;
  margin-bottom: 3em; 
  padding: 15px;
  border-bottom: 3px solid;
  color: #373737;
  background: rgba(255,255,255,0.7);
}

p {
  margin-bottom: 10px;
  font-size: 1.1em;
  font-weight: bold;
}

a{
	color:white;
}

#imgContainer{
	float: left;
	margin-right: 10%;
}

img{
	width: 180px;
	height: 250px;
	border-radius: 5px;
	transition: all .3s ease-in-out;
}

img:hover{	
	cursor: pointer;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.paddingBlock {
	padding: 20px 0;
}

.eqWrap {
	display: flex;
}

.eq {
	padding: 10px;
}

.equalHMRWrap {
	justify-content: space-around;
	flex-wrap: wrap;
}

.equalHMR {
	width: 35%;
	margin-bottom: 2%;
  background: rgba(0,0,0,0.7);
  border-radius: 10px;
  border-right: 3px solid #000000;
  box-shadow: 4px 4px 27px #151515;
  border-bottom: 3px solid black;
}

audio{
  visibility: hidden;
}

#addNewBook {
  background: #269ceb;
  background-image: -webkit-linear-gradient(to bottom, #373737, #000000);
  background-image: -moz-linear-gradient(to bottom, #373737, #000000);
  background-image: -ms-linear-gradient(to bottom, #373737, #000000);
  background-image: -o-linear-gradient(to bottom, #373737, #000000);
  background-image: linear-gradient(to bottom, #373737, #000000);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  outline: none;
  position: fixed;
  right: 0.7%;
  bottom: 3%;
  transition: all .3s ease-in-out;
}

#addNewBook:hover {
  background: #1689cc;
  background-image: -webkit-linear-gradient(top, #1689cc, #1999e8);
  background-image: -moz-linear-gradient(top, #1689cc, #1999e8);
  background-image: -ms-linear-gradient(top, #1689cc, #1999e8);
  background-image: -o-linear-gradient(top, #1689cc, #1999e8);
  background-image: linear-gradient(to bottom, #1689cc, #1999e8);
  text-decoration: none;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  cursor: pointer;
}



